<div class="contacto">
  <div class="container">
    <div class="card card-body bg-light">
      <div class="col-md-12">
        <a routerLink="/lugares">Lugares</a>/contacto
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-md-2"></div>
    <div class="text-center col-md-4">
      <div class="container">

        <img class="card-img-top" src="../../assets/Contactanos.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="color-contacto">Información</h4>
          <p class="color-contacto">
            <span>PlatziSqare</span>
          </p>
          <p class="color-contacto">
            <span>Callera 28 3-35</span>
          </p>
          <p class="color-contacto">
            <span>platzisqare@gmail.com</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <label class="color-contacto">Nombre</label>
        <input type="text" class="form-control">
        <br/>
        <label class="color-contacto">Email</label>
        <input type="email" class="form-control" placeholder="email@example.com">
        <br/>
        <label class="color-contacto">Mensaje</label>
        <textarea type="text" class="form-control"></textarea>
        <hr/>
        <a class="btn btn-primary">
          <i class="material-icons left">email</i>Enviar</a>
        <a class="btn btn-danger" routerLink="/lugares">Cancelar</a>
      </div>
    </div>
    <div class="text-center col-md-2"></div>
  </div>
</div>